<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0"
        name="viewport">
  <title></title>
  <script src="https://www.wikitude.com/libs/architect.js"></script>
  <script type="text/javascript" src="../ade.js"></script>
  <script src="assets/libs/swiper.min.js"></script>
  <link rel="stylesheet" href="assets/libs/swiper.min.css">
  <link rel="stylesheet" href="styles/default.css">
  <link rel="stylesheet" href="styles/popup.css">
  <link rel="stylesheet" href="styles/simple-popup.css">
  <link rel="stylesheet" href="../libs/themify-icons/themify-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="../libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="normal-mode">
<div data-role="page" id="page1" style="background: none">
  <div id="loadingMessage">
    <img id="loading_image" 
         src="assets/img/spinner.png" class="info centered" alt="spinner">
    <img src="assets/img/scanning.svg"
         class="scanning-text-container" alt="scanning">
  </div>
  <div class="swiper-container">
    <div class="show-screen-again-container">
      <input id="show-screen-tutorial-again-container" type="checkbox" alt="icon"/>
      <label for="show-screen-tutorial-again-container"
             class="show-screen-tutorial-again">
      </label>
      <span class="text screen-again-text-tutorial">Don’t show this screen again</span>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">
        <span class="text text-point-camera">Fill your screen<br>with a target image</span>
        <!--<input class="tracking-scan-button-single" type="image"-->
        <!--alt="icon" src="assets/img/scan_button.png"/>-->
        <span class="text flight-text-tutorial">Use the flashlight if needed</span>
        <input class="flightOff-camera-button small-icon" type="image" alt="on"
               src="assets/img/flight_off.png"/>
        <input class="flip-camera-button small-icon"
               type="image"
               alt="off"
               src="assets/img/cam_flip.png"/>
      </div>
      <div class="swiper-slide slide-2">
                <span class="text lock-indicator-text-container">
                    Before loading the scanning<br>Indicator will appear
                </span>
        <input class="flightOff-camera-button small-icon" type="image" alt="off"
               src="assets/img/flight_off.png"/>
        <input class="unlock-camera-button-tutorial small-icon centered" type="image"
               src="assets/img/unlock.png" alt="unlock"/>
      </div>
      <div class="swiper-slide slide-3">
                <span class="text skip-tutorial-container hide-swiper"
                      ontouchstart="sendHideTutorialInformation(); hideAndStartAnimate()">OK</span>
        <span class="text lock-mode-container">Move away from the image with lock mode</span>
        <span class="text save-picture-mode-container">Save pictures to your camera roll</span>
        <input class="unlock-camera-button-tutorial small-icon centered" type="image"
               src="assets/img/unlock.png" alt="icon"/>
        <input class="printScreen-camera-button small-icon" type="image"
               alt="icon" src="assets/img/cam_photo.png"/>
      </div>
    </div>
    <span class="text skip-tutorial-container"
          ontouchstart="sendHideTutorialInformation(); hideAndStartAnimate()">SKIP</span>
    <div class="swiper-pagination centered"></div>
  </div>
  <input id="tracking-model-back-button-container" ontouchstart="backToGallery()"
         class="tracking-model-back-button" type="image" alt="icom"
         src="assets/img/back.png"/>
  <input id="tracking-qr-scan-button-container" class="tracking-qr-scan-button small-icon"
         ontouchstart="scanQR()"
         type="image" alt="icon"
         src="assets/img/qr_code_scan.png"/>
  <input id="flip-camera-button-container" class="flip-camera-button small-icon"
         ontouchstart="flipCamera()"
         type="image" alt="icon"
         src="assets/img/cam_flip.png"/>
  <div class="text-title-container centered" id="title-display-container">
    <img src="assets/img/back-to-gallery.png" alt="icon">
    <span class="text-title"></span>
  </div>
  <div class="dropdown_exp_list centered" id="dropdown_proofing_list_container">
    <button class="dropdown_exp_list_button centered">
      <i class="fa"></i>
      <span class="big-text"></span>
    </button>
    <div class="dropdown_exp_list_content centered"></div>
  </div>
  <input id="printScreen-camera-button-container" ontouchstart="printScreen()"
         class="printScreen-camera-button small-icon" type="image" alt="icon"
         src="assets/img/cam_photo.png"/>
  <input id="flightOn-button-container"
         ontouchstart="checkFlight(false)"
         class="flightOn-camera-button small-icon" type="image" alt="icon"
         src="assets/img/flight_on.png"/>
  <input id="flightOff-button-container" ontouchstart="checkFlight(true)"
         class="flightOff-camera-button small-icon"
         type="image"
         alt="icon"
         src="assets/img/flight_off.png"/>
  <input ontouchstart="World.toggleSnappingNew()" id="lock-camera-button-container"
         class="lock-camera-button small-icon centered" type="image"
         src="assets/img/lock.png"
         alt="icon"/>
  <input ontouchstart="World.toggleSnappingNew()" id="unlock-camera-button-container"
         class="unlock-camera-button small-icon centered" type="image"
         src="assets/img/unlock.png"
         alt="icon"/>
  <input ontouchstart="singleScan()" id="scan-button"
         class="scan-button centered" type="image" src="assets/img/scan.png" alt="icon"/>
  <!-- <input id="tracking-scan-button-single-container" class="tracking-scan-button-single centered"
         type="image" alt="icon" src="assets/scan_button.png"/> -->
  <input id="trial-button" class="tracking-trial-button" type="image" src="assets/img/trial.png"
         alt="icon"/>
</div>
<div id="poor-connection-view">
  <img src="assets/img/ic_poor_connection.png" width="30%" alt="image">
  <div class="text-poor-connection-view">
    <div>Poor connection</div>
  </div>
</div>
<div id="snapContainer"></div>
<script src="helpers/constants.js"></script>
<script src="helpers/hardwareHelper.js"></script>
<script src="helpers/exceptionHelper.js"></script>
<script src="helpers/visiabilityHelper.js"></script>
<script src="helpers/drawableHelper.js"></script>
<script src="components/simpleAlert.js"></script>
<script src="components/textUtils.js"></script>
<script src="components/uiUtil.js"></script>
<script src="components/math.js"></script>
<script src="components/videos.js"></script>
<script src="components/sounds.js"></script>
<script src="components/animations.js"></script>
<script src="components/nativeBridge.js"></script>
<script src="components/placeHolder.js"></script>
<script src="components/platformHandler.js"></script>
<script src="components/buttons.js"></script>
<script src="components/images.js"></script>
<script src="components/models3D.js"></script>
<script src="components/analytics.js"></script>
<script src="components/sceneBuilder.js"></script>
<script src="components/main.js"></script>
<script src="components/fileUtil.js"></script>
<script src="components/tracker.js"></script>
<!-- use for poorConnection -->
<script>
  /*    window.onload = function () {
          AR.logger.setHTMLLoggingEnabled(true);
      }*/
  /*function myFunction() {
  PlaceHolder.showPoorConnection();
  }*/
</script>
<!-- use for swiper -->
<script>
  new Swiper('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>
</body>
</html>