body {
    margin: 0;
}

#tracking-model-reset-button-container {
    visibility: hidden;
}

#initialization-back-button-container {
    display: none;
}

#tracking-model-capture-button-container {
    visibility: hidden;
}

#tracking-model-back-button-container {
    visibility: hidden;
}

#flightOn-button-container {
    visibility: hidden;
}

#flightOff-button-container {
    visibility: hidden;
}

.tracking-model-reset-button {
    width: 9vw;
    height: auto;
    line-height: 9vw;
    top: 2.4vw;
    position: absolute;
    right: 3.13vw;
    text-align: center;
    font-size: 0;
}

.tracking-model-start-stop-button-objects,
.initialization-back-button {
    display: block;
    position: absolute;
    width: 9vw;
    height: auto;
    line-height: 9vw;
    left: 3.13vw;
    top: 2.4vw;
    text-align: center;
    font-size: 0;
    outline: none;
    padding: 0;
}

.tracking-model-start-stop-button {
    display: none;
    position: absolute;
    height: 10.82vw;
    line-height: 10.82vw;
    left: 10vw;
    right: 10vw;
    bottom: 8.66vw;
    text-align: center;
    font-size: 4.9vw;
    font-family: Roboto;
    user-select: none;
    font-weight: bold;
    color: #FFFFFF;
    outline: none;
    padding: 0;
    z-index: 1;
}

.tracking-model-start-stop-button-objects:before {
    content: "\e64a";
    font-family: themify;
    font-style: normal;
    font-weight: normal;
}

.tracking-model-back-button {
    position: absolute;
    width: 9vw;
    height: auto;
    line-height: 9vw;
    left: 3.13vw;
    bottom: 4vw;
    text-align: center;
    font-size: 0;
    outline: none;
    padding: 0;
}

.flightOff-camera-button,
.flightOn-camera-button {
    position: absolute;
    width: 9vw;
    height: auto;
    line-height: 9vw;
    left: 3.13vw;
    bottom: 4vw;
    text-align: center;
    font-size: 0;
    outline: none;
    padding: 0;
}

.tracking-model-capture-button {
    position: absolute;
    height: 9vw;
    width: auto;
    line-height: 9vw;
    right: 3.13vw;
    bottom: 4vw;
    text-align: center;
    font-size: 0;
    outline: none;
    border-radius: 0;
}

#miss-view-marker {
    position: absolute;
    visibility: hidden;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .15);
    font-family: Roboto;
    z-index: 1;
    color: #FFFFFF;
    font-size: 5vw;
    line-height: 7vw;
}

.text-missing-view {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 19vw 0 19vw;
    margin: auto;
    user-select: none;
}

.text-miss:first-child {
    padding-bottom: 7vw;
}

#arkitcore-view {
    position: absolute;
    visibility: hidden;
    display: block;
    text-align: center;
    bottom: 23vw;
    right: 10vw;
    left: 10vw;
    margin: auto;
    background-color: rgba(0, 0, 0, .15);
    font-family: Roboto;
    z-index: 1;
    color: #FFFFFF;
    font-size: 5vw;
    line-height: 7vw;
}

.text-arkitcore-view {
    position: relative;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    margin: auto;
    user-select: none;
    padding: 1vw;
}

#tracking-model-instruction-container {
    display: none;
    text-align: center;
    position: absolute;
    bottom: 15vw;
    right: 10vw;
    left: 10vw;
    margin: auto;
    font-family: Roboto;
    user-select: none;

}

.instruction-container {
    font-family: Roboto;
    color: rgba(255, 255, 255, .7);
    margin: auto;
}

.default-text {
    font-size: 4.5vw;
    max-width: 100%;
    margin: auto;
    line-height: 5.6vw;
    padding: 5vw 5vw 0 5vw;
}

.not-show-again {
    font-size: 4vw;
    padding: 3.1vw 0 4vw 0;
    margin: auto;
    text-decoration: underline;
}

#tracking-controls-container-lower {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 16vw;
    width: 100vw;
    height: 20vw;
    text-align: center;
    margin: auto;
    display: none;
}

.tracking-button-number {
    position: absolute;
    border: 1px solid #DBDBDB;
    width: 19vw;
    background-color: rgba(255, 255, 255, .65);
    height: 19vw;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 19vw;
    font-size: 0;
}

.active {
    background-color: rgba(16, 68, 214, .25);
}

.count-1 .tracking-button-number:nth-child(1) {
    left: 50%;
    transform: translateX(-50%);
}

.count-1 .tracking-button-number:nth-child(2) {
    visibility: hidden;
}

.count-1 .tracking-button-number:nth-child(3) {
    visibility: hidden;
}

.count-1 .tracking-button-number:nth-child(4) {
    visibility: hidden;
}

.count-1 .tracking-button-number:nth-child(5) {
    visibility: hidden;
}

.count-2 .tracking-button-number:nth-child(1) {
    left: 30%;
}

.count-2 .tracking-button-number:nth-child(2) {
    right: 30%;
}

.count-2 .tracking-button-number:nth-child(3) {
    visibility: hidden;
}

.count-2 .tracking-button-number:nth-child(4) {
    visibility: hidden;
}

.count-2 .tracking-button-number:nth-child(5) {
    visibility: hidden;
}

.count-3 .tracking-button-number:nth-child(1) {
    left: 20%;
}

.count-3 .tracking-button-number:nth-child(2) {
    left: 40.5%;
}

.count-3 .tracking-button-number:nth-child(3) {
    right: 20%;
}

.count-3 .tracking-button-number:nth-child(4) {
    visibility: hidden;
}

.count-3 .tracking-button-number:nth-child(5) {
    visibility: hidden;
}

.count-4 .tracking-button-number:nth-child(1) {
    left: 10%;
}

.count-4 .tracking-button-number:nth-child(2) {
    left: 30.3%;
}

.count-4 .tracking-button-number:nth-child(3) {
    right: 30.4%;
}

.count-4 .tracking-button-number:nth-child(4) {
    right: 10%;
}

.count-4 .tracking-button-number:nth-child(5) {
    visibility: hidden;
}

.count-5 .tracking-button-number:nth-child(1) {
    left: 0.5%;
}

.count-5 .tracking-button-number:nth-child(2) {
    left: 20.5%;
}

.count-5 .tracking-button-number:nth-child(3) {
    left: 40.5%;
}

.count-5 .tracking-button-number:nth-child(4) {
    right: 20.5%;
}

.count-5 .tracking-button-number:nth-child(5) {
    right: 0.5%;
}

#model-0 img {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#model-1 img {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#model-2 img {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#model-3 img {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#model-4 img {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#tracking-height-slider-container {
    position: absolute;
    display: none;
    text-align: left;
    left: 19vw;
    bottom: 1.86vw;
    height: 9.82vw;
    line-height: 9.82vw;
    right: 2.5vw;
}

#tracking-number-slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    color: white;
    font-size: 6vw;
    right: 5.4vw;
    font-weight: bold;
    bottom: -0.1vw;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    font-family: Roboto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: transparent;
    position: absolute;
    width: calc(100% - 74px);
    z-index: 1;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    top: 7px;
    bottom: 7px;
    line-height: 9.82vw;
    right: 1.8vw;
    left: 1.5vw;
}

.tracking-model-start-stop-button-objects,
.icon-actions {
    color: #FFFFFF;
    font-size: 6.4vw;
    vertical-align: middle;
    opacity: 1;
    z-index: 1;
}

#tracking-height-slider-container:after {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    content: '';
    position: absolute;
    bottom: 0;
    opacity: 0.34;
    right: 0;
    left: 0;
    height: 9.82vw;
    border: 7px solid black;
    border-right-width: 70px;
    box-sizing: border-box;
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 6.02vw; /* Set a specific slider handle width */
    height: calc(9.82vw - 14px); /* Slider handle height */
    background: #FFFFFF; /* Green background */
    /*cursor: pointer;*/
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0);*//* Cursor on hover */
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 6.02vw; /* Set a specific slider handle width */
    height: calc(9.82vw - 14px); /* Slider handle height */
    background: #FFFFFF; /* Green background */
    /*cursor: pointer;*/
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0);*/ /* Cursor on hover */
}


@media screen and (orientation: landscape) {
    .default-text {
        font-size: 4.5vh;
        line-height: 5.6vh;
        padding: 5vh 5vh 0 5vh;
    }

    .not-show-again {
        padding: 3.1vh 0 4vh 0;
        font-size: 4vh;
    }

    #miss-view-marker {
        font-size: 5vh;
        line-height: 7vh;
    }

    .text-missing-view {
        padding: 0 19vh 0 19vh;
    }

    .text-miss:first-child {
        padding-bottom: 7vh;
    }

    #arkitcore-view {
        font-size: 5vh;
        line-height: 7vh;
        bottom: 23vh;
        right: 10vh;
        left: 10vh;
    }

    .tracking-model-reset-button {
        width: 14.6vh;
        height: 9.82vh;
        line-height: 9.82vh;
        top: 2.4vh;
        right: 3.13vh;
    }

    .initialization-back-button {
        width: 14.6vh;
        height: 9.82vh;
        line-height: 9.82vh;
        left: 3.13vh;
        top: 1.86vh;
    }

    .tracking-model-start-stop-button {
        height: 10.82vh;
        line-height: 10.82vh;
        left: 10vh;
        font-size: 4.9vh;
        right: 10vh;
        bottom: 8.66vh;
    }

    .tracking-model-start-stop-button-objects {
        width: 14.6vh;
        height: 9.82vh;
        font-size: 6.4vh;
        line-height: 9.82vh;
        left: 3.13vh;
        top: 1.86vh;
    }

    .flightOff-camera-button,
    .flightOn-camera-button {
        width: 9vh;
        height: auto;
        line-height: 9vh;
        left: 3.13vh;
        bottom: 4vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }


    #tracking-model-instruction-container {
        bottom: 15vh;
        right: 10vh;
        left: 10vh;
    }

    .tracking-model-back-button {
        width: 9vh;
        height: auto;
        line-height: 9vh;
        left: 3.13vh;
        bottom: 4vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .tracking-model-capture-button {
        height: 9vh;
        width: auto;
        line-height: 9vh;
        right: 3.13vh;
        bottom: 4vh;
        padding-left: 2vw;
        padding-right: 2vw;
        border-radius: 0;
    }

    .icon-actions {
        font-size: 6.4vh;
    }

    #tracking-controls-container-lower {
        bottom: 5vh;
        width: 100vh;
        height: 20vh;
    }

    .tracking-button-number {
        width: 19vh;
        height: 19vh;
        line-height: 19vh;
    }

    #tracking-height-slider-container {
        left: 19vh;
        bottom: 1.86vh;
        height: 9.82vh;
        line-height: 9.82vh;
        right: 5.1vh;
    }

    #tracking-number-slider {
        font-size: 6vh;
        right: 5.4vh;
        bottom: -0.1vh;
    }

    #tracking-height-slider-container:after {
        height: 9.82vh;
    }

    .slider {
        line-height: 9.82vh;
        right: 1.8vh;
        left: 1.5vh;
    }

    .slider::-webkit-slider-thumb {
        width: 6.02vh; /* Set a specific slider handle width */
        height: calc(9.82vh - 14px); /* Slider handle height */
    }

    .slider::-moz-range-thumb {
        width: 6.02vh; /* Set a specific slider handle width */
        height: calc(9.82vh - 14px); /* Slider handle height */
    }
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}